.contact-page {
  text-align: center;
  margin: 7%;
  padding: 5%;
  
}

.contact-heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 56px;
  font-weight: bolder;
  color: #333;
  margin-bottom: 20px;
  margin: 10px;
}

.contact-info {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #666;
}

.contact-info p {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contact-page {
    margin: 5%;
    padding: 3%;
  }

  .contact-heading {
    font-size: 40px;
  }

  .contact-info {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .contact-page {
    margin: 3%;
    padding: 2%;
  }

  .contact-heading {
    font-size: 32px;
  }

  .contact-info {
    font-size: 12px;
  }
}