.choose-your-container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  flex: 1;
}

.upper-div {
  padding: 20px;
}

.upper-div h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.upper-div p {
  font-size: 18px;
  color: #666;
}

.bottom-div {
  position: relative;
}

.slider_container {
  height: 420px;
  width: 45vw;
  position: relative;
}

.slider_item {
  position: relative;
  top: 50px;
  object-fit: contain;
  height: 370px;
  width: 290px;
}

.slider_item > img {
  height: 280px;
  width: 280px;
}


.right-container {
  flex: 1;
}

.right-container > img {
  width: 100%;
  height: 100vh;
}

