.image-gallery {
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  padding: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.image-card {
  text-align: center;
}

.image-card img {
  width: 100%; 
  height: auto;
  cursor: pointer;
}

.image-card p {
  margin-top: 5px;
  font-size: 14px;
  text-align: left;
}
